/*#demo{
    border: 1px solid #ddd;
    box-sizing: border-box;
    width: 172px;
    height: 200px;
    margin: 50px auto;
    background: url(../img/hello.png) no-repeat;
    background-position: 0 0;
}*/