#demo {
    border: 1px solid #ddd;
    box-sizing: border-box;
    width: 172px;
    height: 200px;
    margin: 50px auto;
    /*background: url(../img/result.png) no-repeat;
    background-position: 0 0;*/
    transform: scale(0.5);
}